.about__container{
    background-color: #EAF2FD;
    padding: 16px;
}

.about__title{
    font-weight: bold;
    font-size: 22px;
    padding: 8px 0 8px 0;
}

.about__paragraph{
    padding: 8px 0;
    font-size: 14px;
    text-align: justify;
}

.about__container img{
    left: 0%;
    height: 70px;
}





